* {
    max-width: 1920px;
    max-height: 1080px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#row1 {
    height: 400px;
}

.square{
    width: 100px;
    height: 100px;
}

#green {
    background-color: #33ff33;
}

#red {
    background-color: #ff3333;
}

#blue {
    background-color: #3333ff;
}

#yellow {
    background-color: #ffff33;
}

.buttonbox {
    width: 100%;
}

.input-btn{
    margin: 0;
    height:100%;
    width:100%;
}

#greenbtn {
    background-color: inherit;
    border: none;
}

#redbtn {
    background-color: inherit;
    border: none;
}

#bluebtn {
    background-color: inherit;
    border: none;
}

#yellowbtn {
    background-color: inherit;
    border: none;
}

#start, #score {
    width: 95px;
    display: block;
}